#ground {
  display: none;
}

#head {
  display: none;
}

#scaffold {
  display: none;
}
#body {
  display: none;
}
#legs {
  display: none;
}
#arms {
  display: none;
}
/* START */
body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
}
.start {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.start h1 {
  color: black;
  font-size: 4em;
  margin: 1em;
}

.start a {
  border: 1px solid black;
  background-color: rgb(217, 217, 217);
  color: black;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  margin-top: 1em;
  border-radius: 0.5em;
  font-size: 1.5em;
  margin: 1em;
}

.start img {
  height: 40%;
  margin: 2em;
}

/* GAMEBOARD */
.game-container {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.game-word {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin-top: 2rem;
}

.game-word p {
  padding: 0.5em;
  margin: 0.7em;
  font-size: 5em;
}

.word-display {
  font-size: 6rem;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 2rem;
  width: 75%
}

.buttons button {
  padding: 1.5em;
  margin: 0.7em;
  font-size: 1em;
  border-radius: 1rem;
  border: none;
}

.buttons button:hover {
  box-shadow: 0 0 0 4px black;
}

.attempts-display {
  margin-top: 2rem;
  font-size: 1.5rem;
}