/* START */
body {
  height: 100vh;
  width: 100vw;
}
.start {
  display: flex;
  height: 100%;
  width: 100%;
  color: black;
  font-size: 50px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.start a {
  border: 1px solid black;
  background-color: aqua;
  padding: 0.8em;
  border-radius: 5em;
}
